body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    background-color: #f9f9f7; /* Color hueso */
    color: #333; /* Gris oscuro */
}

header {
    background-color: #000; /* Negro */
    color: #fff; /* Blanco */
    padding: 40px;
    text-align: center;
    position: relative;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    margin: 0;
}

.menu-toggle {
    background-color: #ff7f50; /* Fondo naranja */
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Hacer el fondo circular */
    transition: background-color 0.3s ease;
}

.menu-toggle:hover {
    background-color: #e67346; /* Naranja más oscuro */
}

.menu-icon {
    width: 60%;
    height: auto;
    transition: opacity 0.3s ease;
}

.menu-icon-close {
    font-size: 2em;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu-toggle.open .menu-icon {
    opacity: 0;
}

.menu-toggle.open .menu-icon-close {
    opacity: 1;
}

.menu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333; /* Fondo oscuro */
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: left;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-items.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.menu-items a,
.menu-items button {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
}

.menu-items a:hover,
.menu-items button:hover {
    background-color: #ff7f50; /* Naranja */
}

.slider-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 5%, 100% 5%, 100% 100%, 0% 100%);
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-boxes {
    display: flex;
    gap: 20px;
}

.text-box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ff7f50;
    border-radius: 15px;
    padding: 20px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.text-box h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.text-box h3 {
    font-size: 1.2em;
    color: #555;
}

.text-box p {
    font-size: 1em;
    color: #777;
}

.btn {
    display: inline-block;
    background-color: #ff7f50;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e67346;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    border-top: 5px solid #ff7f50;
}

.contact-info h2,
.social-media h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}

.contact-info p,
.social-media a {
    font-family: 'Exo 2', sans-serif;
    margin: 10px 0;
    font-size: 1.1em;
}

.contact-info a,
.social-media a {
    color: #ff7f50;
    text-decoration: none;
}

.contact-info a:hover,
.social-media a:hover {
    text-decoration: underline;
}

.social-media a {
    display: block;
    margin: 5px 0;
}
